Body 
{background-color: whitesmoke;
font-size:          25px;
 }
 h1 {text-align: center;
    background-color: lightgreen;
{ display: inline;}
h2{
        display: inline; 
        float: left;
        font-size: 15px;            }
ul{
    display: inline;
    list-style-type: none;
li {display: inline;  }





}


